############################
# ENV / SECRETS
############################
.env
.env.*
!.env.example

############################
# NODE / JAVASCRIPT
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# BUILDS / OUTPUTS
############################
dist/
build/
.vite/
out/

############################
# DOCKER
############################
*.pid

############################
# CERTIFICATS / TLS
############################
certs/*.key
certs/*.crt
certs/*.pem
certs/*.pfx
certs/*.csr
certs/*.cert

############################
# DATABASE
############################
*.db
*.sqlite
*.sqlite3

############################
# LOGS
############################
logs/
*.log

############################
# IDE / OS
############################
.vscode/
.idea/
.DS_Store
Thumbs.db

############################
# TEMP / OLD FILES
############################
*.old
